body {
    background-color: aqua;
    margin-left: 60px;
}
.title {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
#texto {
    color: blue;
}
.h1 {
    text-align: center;
}
.img-size {
    
}